.comment-text {
  text-align: left;
  padding: .5%;
  margin-left: .5%;
}
.comment {
  font-size: .9rem;
}
.comment-form  {
  margin-top: 3%;
  width: 100%;
}
.comment-form input {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-top: 1px solid #efefef;
  color: black;
}
.user {
  font-size: .89rem;
  margin-left: 5px;
  color: black;
  font-weight: bold;
}